body{
    background-color: rgb(137, 155, 149);
}

nav{
display: flex;
justify-content: center;
img{ width: 50px; border-radius: 20%;

}
 ul{ display: flex; list-style-type: none;
    flex-direction: row;
  li{margin-right: 10px; 

}
a{
    text-decoration: none; color: black;
}

}

} 
h1{
    display: flex; justify-content: center;
}
#buttons { display: flex; justify-content: center;
    button.first {cursor: pointer;
      color: white;
      background-color: #0e6cff; 
      &:hover {
        color: black;
        background-color: rgb(228, 222, 223);
      }
     
    } button.second{cursor: pointer;
        color: rgb(247, 247, 247);
        background-color: #ff8700 ; 
        &:hover {
          color: black;
          background-color: rgb(228, 222, 223);

        
    }
  }
button.third{cursor: pointer;
    color: rgb(247, 247, 247);
    background-color:  #4caf50 ; 
    &:hover {
      color: black;
      background-color: rgb(228, 222, 223);

}}}
  .fourImage{display: flex; justify-content: space-around;
    margin-top: 30px;
  }

  .animatedImage{ animation: goDown 5s ease-in-out; position: relative;
    margin-top: 30px;  display: flex; justify-content: center;

  } @keyframes goDown {
    from {
      top: -700px;
      opacity: 1;
    //    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
    to {
      top: 0px;
    }
  }